body {
    background-color: #101017;
    margin: 0px;
    padding: 0px;
  }

  nav {
    display:flex;
    background-color: #101017;
    color: white;
    padding: 10px;
    margin-left: 113px;
    margin-right: 113px;
    margin-bottom: 123px;
    margin-top: 18px;
    justify-content: space-between;
}

nav h1, nav ul {
    margin: 0;
    padding: 0;
    display: inline;
}

ul {
    list-style: none;
    
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: none;
}

#contact-but{
  border:1px  solid ;
  border-color: #079211;
  background-color: #101017;
  color:white;
  height: 30px;
}


#box1{
  margin-left: 123px;
  width:751px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding:0px;
  /* border:2px solid Tomato; */
  

}

#box1 h1,
#box1 p {
  margin: 0;
  padding: 0;
}

#box1i{
  display: flex;
  flex-direction: row;
  padding-top: 58px;
  align-items: center;
  
}

#name{
  color:#079211;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
 
}

#work{
  color:white;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: 94px;
  margin-bottom: 10px;
}

#info{
  font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 28px;
color:#808080;
width: 550px;
}

#button{
  background-color: #079211;
  width:80px;
  height: 38px;
  margin-right: 20px;
  color:white;
  border: 0px;
}


#box2{
  margin-left: 123px;
  margin-right: 100px;
  flex-direction: column;
  align-items: flex-start;
  gap:0px;
  padding:0px;
  /* border:2px solid Tomato; */ 
}

#box2i{
  flex-direction: row;
  display: flex;
  justify-content:space-between;
}

#box2ii{
  height: 41px;
  width: 350px;
  align-self: flex-start;
}

#box2iii{
  display:flex;
  flex-direction: row;
  
}

#experience{
  color:white;
  font-size: 46px;
font-style: normal;
font-weight: 700;
line-height: 56px;
width:457px;

}

#skills{
  height: 336px;
  width:33.33%;
  background-color: #313131;
  margin-right:20px;
  border-bottom: 5px solid #079211;
 
}

#circle{
  height: 30px;
  width:30px;
  border-radius: 15px;
  background-color: #079211;
  position:relative;
  top:50px;
  left: 45px;
}

#svg{
  position:relative;
  top:68px;
  left: 25px;
  z-index: 1;
}

#content{
  position:relative;
  top:46px;
  left: 25px;
  
}

#talent{
  color:white;
  font-weight: 400;
}

#talent2{
  width:90%;
  color:#808080;
}

#box3{
  background-color: #313131;
  padding-left: 113px;
  padding-right: 113px;
  margin-top: 100px;
  
}

#box3i{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#project-but{
  border:1px  solid ;
  border-color: #079211;
  background-color: #313131;
  color:white;
  height: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #313131;
  padding:0px;
  gap:0px;
}
.grid-item {
  
  font-size: 30px;
  text-align: center;
  padding:0px;
  margin:5px;
}



#box3ii{
  margin-right: 113px;
}

#title{
  text-align: start;
  margin-left: 10px;
  color:white;
  margin-top: 38px;
  margin-bottom: 0px;
  margin-right: 0px;

}

#link{
  text-align: start;
  color:#079211;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-top: 0px;
}

#box3b{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;

}

#box4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Optional: This ensures the container takes the full height of the viewport */
  flex-direction: column;
}

#box4i {
  text-align: center;
}

#box4b{
  display:flex;
  flex-direction: row;
  margin-top: 10px;
}

#box4c{
  display:flex;
  margin-left: 10px;
  flex-direction: column;
}

#name2{
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-right: 0px;
  color:white;




}


#client-comment2{
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-right: 0px;
  color:#808080;
}
#client {
  color: white;
  font-size: 46px;
  font-weight: 700;
}



#client-comment {
  width: 555px;
  text-align: center;
  color: #808080;

}


#box5{
  display:flex;
  background-color:#0A0A0F;
  height: 213px;
  width:100%; 
  align-items: normal;
  margin-bottom: 0px;
  
  
}


#box5a{
  display:flex;
  height: 213px;
  width:100%; 
  border-right: 5px solid;
  border-color: #079211;
  margin-left: 113px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;;
 
}

#contact-section-text{
  color:white;
  font-weight: 700;
  font-size: 46px;
  margin:0px;
}


 #box6{
  display:flex;
  height: 280px;
  width:100%;
  background-color: #050507;
  margin-top: 0px;
  padding-top: 50px;
  justify-content: space-between;
 }

 #box6a {
  display: flex;
  flex-direction: column;
  margin-left: 113px;
  justify-content: space-between;
  height: 260px;
  width:100%;
}

#box6b{
  display:flex;
  flex-direction: column;
  margin-right: 113px;

}